# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.71 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --onboot=on --ipv6=auto --no-activate
network  --hostname=10-2-7-71-Group-2

# Root password
rootpw --iscrypted $6$U2xeZNgqPb9zGCAF$809Qg/jiX6bf0jzUmsSPeeTd1sNjSMHIghpvuBUCvd6mV9m7mphwyDpPFNjyFsyXCmuKkrHHf3UneKhSvmq3x.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all
# Disk partitioning information
part /var --fstype="xfs" --ondisk=sda --size=2048
part swap --fstype="swap" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=7680
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/post-install.log
#Creates the users
/usr/sbin/useradd -c 'Andrew Trenkamp' -p '$6$qpuTKGEa$V3r6ms8VknfL6rfsUYT4nFF/Ab6fI6JN4QDF1gJp4JCrs76SxIrhCEXpdkgL4zGLLS8valDUHfgmLk6TcjxOP1' -s /bin/bash -d /home/trenkampa1 -m trenkampa1 >> /root/post-install.log
/usr/sbin/useradd -c 'Serigne Ndao' -p '$6$U2xeZNgqPb9zGCAF$809Qg/jiX6bf0jzUmsSPeeTd1sNjSMHIghpvuBUCvd6mV9m7mphwyDpPFNjyFsyXCmuKkrHHf3UneKhSvmq3x.' -s /bin/bash -d /home/ndaos1 -m ndaos1  >> /root/post-install.log
/usr/sbin/useradd -c 'Thomas Eger' -p '$6$U2xeZNgqPb9zGCAF$809Qg/jiX6bf0jzUmsSPeeTd1sNjSMHIghpvuBUCvd6mV9m7mphwyDpPFNjyFsyXCmuKkrHHf3UneKhSvmq3x.' -s /bin/bash -d /home/egert3 -m egert3  >> /root/post-install.log
#create sbin and usr/sbin PATHS
`/usr/bin/echo export PATH="/sbin:$PATH" | tee  /home/trenkampa1/.bashrc /home/ndaos1/.bashrc /home/egert3/.bashrc >> /root/post-install.log`
`/usr/bin/echo export PATH="/usr/sbin:$PATH" | tee  /home/trenkampa1/.bashrc /home/ndaos1/.bashrc /home/egert3/.bashrc >> /root/post-install.log`
`/usr/bin/echo alias ll="ls -alF" | tee  /home/trenkampa1/.bashrc /home/ndaos1/.bashrc /home/egert3/.bashrc >> /root/post-install.log`
#Install required software
/usr/bin/sudo /usr/bin/yum -y update >> /root/post-install.log && /usr/bin/sudo /usr/bin/yum -y install python3 wget gcc perl >> /root/post-install.log
#sets system to cli with multi users
/usr/bin/systemctl set-default multi-user.target >> /root/post-install.log
#Sets Directory Permissions and creates public folders with genertic web pages
mkdir --mode 755 /home/trenkampa1/public_html && mkdir --mode 755 /home/ndaos1/public_html && mkdir --mode 755 /home/egert3/public_html && chmod 755 /home/*
#Creates index.html files for each user
#touch /home/trenkampa1/public_html/index.html /home/ndaos1/public_html/index.html /home/egert3/public_html/index.html >> /root/post-install.log
#Creates output and index.html files for each user
echo '<home><body><h1>It works for Andrew Trenkamp!</h1></body></html>' > /home/ndaos1/public_html/index.html && echo '<home><body><h1>It works for Fallou!!</h1></body></html>' > /home/ndaos1/public_html/index.html && echo '<home><body><h1>It works for Thomas!!</h1></body></html>' > /home/egert3/public_html/index.html

%end
